.Logo img {
    width: 60px;
    
}
.Logo{
    display: flex;
    align-items: center;
  
    
}

.link{
    color: white;
    font-weight: bold;
    font-size: 35px; 
    text-decoration: none;
    padding-left: 15px;

}