.Button {
  border: 0;
  margin: 0 .5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.Button:not(:disabled):hover {
  background-color: rgb(0, 255, 234);
  transition: 0.4s;

}
.Button:focus {
  outline: none;
}
.Button:disabled {
  opacity: .5;
}

.green {
  background-color: rgb(0, 7, 109);
}
.green:not(:disabled):hover {
  background-color: rgb(0, 255, 234);
}