.Preview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
  margin-right: 100px;
}
.Pie {
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-size:cover ;
  

  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredients {
  background-size:cover ;
  width: 380px;
  height: 380px;
  position: relative;
  z-index: -1;
}
.price {
  background-color: blue;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
@media (max-width: 800px){
  .Preview{
    margin-left: 120px;
  }
}