@import url('http://fonts.cdnfonts.com/css/billabong');
* {
  font-family: 'Billabong', sans-serif;
      box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(./images/background.jpg);
}