@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');
* {
  font-family: 'KoHo', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(./images/background.jpg);
  z-index: -1;
  
}