@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
* {
  font-family: 'Sigmar One', cursive;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(./images/background.jpg);
}